<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="http://hippo.gf.com.cn/images/app.ico" type="image/x-icon">
    <title>react ssr demo</title>
    <link rel="stylesheet" href="/main.css"></link>
</head>
<body>
    <div id="app"><%- html %></div>
    <script>
        window.__initState__ = <%- state %>
    </script>
    <script src="/vendor.bundle.js"></script>
    <script src="/main.bundle.js"></script>
        
</body>
</html>